WeatherApiTechTask/WeatherApiTechTask/obj/
WeatherApiTechTask/.vs/WeatherApiTechTask/v16/
WeatherApiTechTask.Test/WeatherApiTechTask.Test/obj/
WeatherApiTechTask/WeatherApiTechTask/bin/
WeatherApiTechTask.Test/WeatherApiTechTask.Test/bin/
WeatherApiTechTask/.vs/WeatherApiTechTask/DesignTimeBuild/.dtbcache.v2
